{% extends 'base.html' %}
{% load static %}

{% block title %} Grocerup {% endblock %}

{% block content %}
    <div class="container-fluid min-vh-100 mh-100">
        <div class="row min-vh-100">
            <div class="col-2 green">
                <div class="row pt-5 pb-5">
                    <div class="col-3 justify-content-center">img</div>
                    <div class="col-9 justify-content-center white-font">Hi, {{request.user.first_name}}</div>
                </div>
                
                <ul class="nav flex-column">
                    <li class="px-4 py-2 nav-item"><a class="white-font text-decoration-none" href="{% url 'dashboard' %}">Inventory</a></li>
                    <li class="px-4 py-2 nav-item"><a class="white-font text-decoration-none" href="{% url 'groceryLists' %}">Grocery Lists</a></li>
                    <li class="px-4 py-2 nav-item"><a class="white-font text-decoration-none" href="{% url 'logout' %}">Sign Out</a></li>
                </ul>
            </div>

            {% block main_content %}{% endblock %}
        </div>
    </div>
{% endblock %}