* { font-family: 'Quicksand', sans-serif; }
input { 
    border-width: 1px;
    border-color: #000;
    border-radius: 5px;
}

.fw-reg { font-weight: 400; }

.fw-semi-bold { font-weight: 500;}

.fw-med { font-weight: 600;}

.green { background: #5DBB63; }

.gray { background:#EEEEEE; }

.light-gray { background: #EEEEEE}

.really-light-gray { background: #FEFEFE;}

.white-font { color: white; }

.black-font { color: #000 !important; }

.font-20 { font-size: 1.25rem;}

.card-main { border-radius: 10px;}

.nav>li>a:hover, .nav>li>a:active {
    color: #000 !important;
    font-weight: 600;
}
